<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="{{detailsNews.avatar}}" alt="">
          </div>
          <mat-card-title>{{detailsNews.first_name}} {{detailsNews.last_name}}</mat-card-title>
          <mat-card-subtitle> {{detailsNews.email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
